.encabezado{
    text-align: center;
    padding-bottom: 40px;
}
.nombre{
    font-size: 25;
}
.imagen{
        height: 450px;
        align-self: center;
}
.tallas{
        height: 350px;
        align-self: center;
}
.col-4{
    margin: 1em;
    text-align: left; 

}

.carrito{
    float: right;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index:1000;
    display: flex;
    align-items: center;
    font-size: 30;
  }